{% extends 'forkilla/base.html' %}
{% block content %}

{% load static %}


	
    <div class="banner">
  
        <div class="banner-info">
            <div class="baner-inf" style="margin-left: 13%; width: 50%; margin-top: -10%; border-radius: 20px;">

            	<div class="container" style="width: 60%; height: 10%; ; margin-left: 20%; margin-top: 1%; border-radius: 10%;">
	                <h1 style="margin-top: 2%; margin-left: 10%; color: rgba(255,255,255,1); font-size: 40px; margin-bottom: 5%;">Create an account</h1>
	            </div>

				  <form action="" method="post">
				    {% csrf_token %}
				    <div style="font: rgb(0,0,0);">
				    	{{ form.as_ul }}

				    </div>
				   

				    
				      <input type="submit" value="Create the account" style="width: 98%; background: #2FD828; color: #FFF; margin-bottom: 5%; margin-top: 4%;">
				  </form>

				  <div class="more" style="width: 100%;">
				 	 <a href="{%url 'login' %}?next={%url 'restaurants' %}" style="width: 100%; background: #2FD828; color: #FFF; margin-bottom: 5%; margin-top: 4%;"> <span> Login</span>  </a>
				  </div>

            </div>
        </div>
                        
    </div>

{% endblock %}

