{% extends 'forkilla/base.html' %}
{% block content %}

{% load static %}



    <div class="banner">
  
        <div class="banner-info">
            <div class="baner-inf" style="margin-left: 15%; width: 40%; margin-top: -10%; border-radius: 20px;">

	            <h1> Starting reservation for restaurant {{restaurant.name}}</h1>
			    <form method="POST" >
			        {% csrf_token %}
			        {{ form.as_ul }}
			         <button type="submit">Save</button>
			    </form>



            </div>
        </div>
                        
    </div>
 
{% endblock %}


